h1{
  font-family: "Francois One", sans-serif;
  font-size: 40px;
}

.title{
  width: 31em;
  height: 30em;
  position: fixed;
  left: 25%;
  text-align: center
}


#board {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 22%;
  left: 30%;

}

.box {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  display: inline-block;
  margin-bottom: 3px;
  border-radius: 7px;
  font-size: 75px;
  font-family: "Francois One", sans-serif;
}

.reset {
  width: 75px;
  height: 30px;
  border-radius: 7px;
  font-weight: bold;
  border: 2px solid black;
  font-size: 15px;
  position: fixed;
  bottom: 22%;
  left: 46%;
  text-align: center;
}

.turn {
  color: black;
  position: static;
  font-family: "Francois One", sans-serif;
}

#X {
  background-color: blue;
}

#O {
  background-color: red;
}

